<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-10">
        <h1>Standalone Components - Page</h1>
        <hr>

        <div class="row">
            <div class="col">
                <p>Este componente no necesita ser importado en módulos</p>
                <p>Si necesita ser importado en módulos, pero eset se va a cargar de manera perezosa (lazy load)</p>
                <p>El motivo de que no necesite ser importado en módulos, es porque es su propio módulo</p>
                <p>Estos componentes son a partir de la versión 15</p>

                <app-counter-alone [counter]="25"></app-counter-alone>
            </div>
        </div>
    </div>
</div>
